#!/bin/bash
{% for node_name, node_values in provisioner.topology.nodes.iteritems() %}
{% for num in range(0, node_values.amount, 1) %}
{% if node_name != 'undercloud' %}
virt-install --name {{ node_name }}-{{ num }} \
{% for disk_name, disk_values in node_values.disks.iteritems() %}
             --disk path={{ disk_values.path }}/{{ node_name }}-{{ num }}.{{ disk_name }}.qcow2,device=disk,bus=virtio,format=qcow2,cache=default \
{% endfor %}
{% if 'ceph' in node_name %}
            --network network:provision \
            --network network:storage \
            --network network:management \
{% elif 'compute' in node_name %}
            --network network:provision \
            --network network:internal \
            --network network:storage \
            --network network:management \
{% else %}
            --network network:provision \
            --network network:external \
            --network network:internal \
            --network network:storage \
            --network network:management \
{% endif %}
{% else %}
virt-install --name {{ node_name }} \
{% for disk_name, disk_values in node_values.disks.iteritems() %}
             --disk path={{ disk_values.path }}/{{ node_name }}.{{ disk_name }}.qcow2,device=disk,bus=virtio,format=qcow2,cache=default \
{% endfor %}
            --network network:management \
            --network network:provision \
            --network network:internal \
{% endif %}
{#{%  for net in provisioner.topology.network.keys() %}#}
{#    todo(yfried): make network order work#}
{#             --network network:{{ net }} \#}
{#{% endfor %}#}
{# Hard coding network names because undercloud needs "data" network to map
 to the NIC defined in ospd.yml::installer.undercloud.config.local_interface
    todo(yfried): remove hardcoded network names#}
             --virt-type kvm \
             --cpu host-model \
             --ram {{ node_values.memory }} \
             --vcpus {{ node_values.cpu }} \
             --os-variant {{ node_values.os.variant }} \
             --import \
             --noautoconsole \
             --autostart \
             --vnc
{% endfor %}
{% endfor %}
