#!/bin/bash

{% for node_name, node_values in provisioner.topology.nodes.iteritems() %}
{% for num in range(0, node_values.amount, 1) %}
{% for disk_name, disk_values in node_values.disks.iteritems() %}
{% if node_name != 'undercloud' %}
qemu-img create -f qcow2 -o preallocation=metadata {{ disk_values.path }}/{{ node_name }}-{{ num }}.{{ disk_name }}.qcow2 {{ disk_values.size }}
{% else %}
qemu-img create -f qcow2 -o preallocation=metadata {{ disk_values.path }}/{{ node_name }}.{{ disk_name }}.qcow2 {{ disk_values.size }}
{% endif %}
{% endfor %}
{% if node_name != 'undercloud' %}
virt-resize --expand /dev/sda1 /var/lib/libvirt/images/base_image.qcow2 {{ node_values.disks.disk1.path }}/{{ node_name }}-{{ num }}.disk1.qcow2
{% else %}
virt-resize --expand /dev/sda1 /var/lib/libvirt/images/base_image.qcow2 {{ node_values.disks.disk1.path }}/{{ node_name }}.disk1.qcow2
{% endif %}
{% endfor %}
{% endfor %}
